* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  font-size: 175%;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 30px;
}

p {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 5px;
}

div {
  float: left;
  height: auto;
}

@media (max-width: 767px) {
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    width: 50%;
  }
  #box3 {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-4 {
    width: 33%;
  }
}

div.row {
  height: auto;
  margin-right: 10px;
  position: relative;
  left: 10px;
}

.chicken,
.beef,
.sushi {
  border: 1px solid black;
  margin-bottom: 10px;
  margin-right: 15px;
  height: auto;
}

.box-title {
  border: 1px solid black;
  width: 40%;
  font-size: 125%;
  text-align: center;
  float: right;
}
