* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Quicksand", sans-serif;
  color: rgb(99, 99, 99);
}

/* HEADER */

#header-nav {
  background-color: coral;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  height: 80px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #337ab7;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
  margin-bottom: 50px;
  background-color: rgb(201, 201, 201);
}

#collapsable-nav {
  text-align: center;
  font-size: 1.2em;
}

/* END HEADER */

/* BODY */

.main-title {
  /* Our Menu */
  margin-top: 50px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.container {
  width: 100%;
  margin: 0;
  padding-right: 0;
  padding-left: 0;
}

.row {
  width:100%;
  margin: 0;
}

.box-title {
  /* Chicken, Beef, Sushi */
  margin-bottom: 2vh;
}

.menu-item {
  /* box itself */
  margin: 1vh .01vw;
  padding: 1vw;
  border: 1px solid rgb(99, 99, 99);
}



/* Small devices only */
@media (min-width: 768px) and (max-width: 991px) {
  #box3 {
    width: 100%;
}