* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

/* HEADER */

#header-nav {
  background-color: coral;
  border: 0;
  border-radius: 0;
}

.navbar-brand {
  height: 80px;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-header button.navbar-toggle,
.navbar-header .icon-bar {
  border: 1px solid #337ab7;
}

.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -45px;
  margin-bottom: 50px;
  background-color: rgb(201, 201, 201);
}

#collapsable-nav {
  text-align: center;
  font-size: 1.2em;
}


/* END HEADER */

/* BODY */

div.menu-item {
  height: 1000px;
}
